# ========================
# 🌐 Umum
# ========================
node_modules
.env
.DS_Store

# ========================
# 🚫 Frontend & Backend Logs / Artifacts
# ========================
**/dist
**/.next
**/.turbo
**/logs
**/npm-debug.log*

# ========================
# 🐍 ML-service (Python + model)
# ========================
ml-service/venv/
ml-service/*.pkl
ml-service/*.h5
